
<% if workout.user == current_user %>
<div class="wod-day">
<h1 class="wod-date"><%= link_to workout.created_at.strftime("%d %b %y"), workout, role:'link' %></h1>
<div id="<%= dom_id workout %>" class="accent card gap-x-large columns">
  <div class="card-l">
    <h2> <%= link_to workout.Name, workout, role:"link" %></h2>
    <div class="ideal-for">
      <h3>Score</h3>
      <p><%= workout.Score %></p>
    </div>
  </div>
  <div class="card-r">
    <h4><%= workout.Style %></h4>
    <%= simple_format(workout.Desc) %>

    
  </div>

</div>
</div>
<% end %>